/* Fonts use */
@font-face {
    font-family: GeneralSans-Regular;
    src: url(../fonts/GeneralSans-Regular.otf);
}
@font-face {
    font-family: Gilroy-Bold;
    src: url(../fonts/Gilroy-Bold.ttf) format('truetype');
}
@font-face {
    font-family: OutfitBold;
    src: url(../fonts/OutfitBold.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F6F5FA;
}

/* Header CSS */
header {
    background-color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    color: #2A2A2A;
    box-shadow: 0px 4px 25px 0px #00000026;
}

header .image {
    width: 12%;
    max-width: 100px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav #menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    background-color: #FFA500;
}
#menu-icon-container {
    display: none;
    margin-top: -3%;
    margin-right: 5%;
    
}
header nav #nav-links {
    display: flex;
    align-items: center;
}

header nav #nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #2A2A2A;
    font-weight: lighter;
    font-family: GeneralSans-Regular;
}

header nav #nav-links button {
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #2A2A2A;
    cursor: pointer;
}

.vectorimg {
    padding-left: 10px;
    size: 4px;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .image {
        margin-left: 0;
    }
    #menu-icon-container {
        display: block;
        position: absolute;
        right: 20px;
    }
    header nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header nav #menu-icon {
        display: block;
        float: left;
        margin-left: 89%;
    }

    header nav #nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    header nav #nav-links a {
        margin: 10px 0;
    }

    header nav #nav-links button {
        margin: 10px 0;
    }

    header nav #nav-links.active {
        display: flex;
    }
}

/* Ensure text and layout remains consistent */
body {
    font-size: 16px;
}

@media (min-width: 769px) {
    body {
        font-size: 1rem;
    }
}
