/* Common container */
.container {
    margin: 0 auto;
    padding: 0 36px; /* Adjust this value to set your desired left and right margins */
    max-width: 1200px; /* Optional: set a max-width for the container */
}

/* Rest of your CSS remains the same */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F6F5FA;
}

/* Header */
header {
    background-color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    color: #2A2A2A;
    box-shadow: 0px 4px 25px 0px #00000026; 
}

header .image {
    width: 10%;
    margin-left: 36px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #2A2A2A;
    font-weight: lighter;
}

header nav button {
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #2A2A2A;
    cursor: pointer;
}

/* First main content */
.main_container {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #F6F5FA;
}

.left {
    flex: 1;
    margin-right: 20px;
}

.left h1 {
    font-size: 2.1em;
    color: #333;
}

.leftp {
    font-size: 1em;
    color: #777;
    width: 70%;
    margin: 20px 0;
}

.insideleft {
    width: 40%;
}

.insideleft h1 {
    color: #232323;
}

.left button {
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #2A2A2A;
    cursor: pointer;
}

.image1 {
    width: 300px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.image-container {
    position: relative;
    display: inline-block;
}

.trade {
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: -20px;
    width: 40%;
    height: 14%;
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.trade img {
    margin-right: 10px;
}

.percentage {
    position: absolute;
    bottom: 10px;
    right: 0px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 2;
    width: 30%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #F8A601;
    border-color: #F8A601;
    border-radius: 4px;
}

/* Second container */
.second-container {
    background-color: #f5f5f5;
    text-align: center;
    padding: 2rem;
    color: #020E26;
}

.second-container h1 {
    font-family: 'Sans-serif';
    font-weight: bold;
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.second-container p.subtitle {
    font-size: 1rem;
    color: #2A2A2A;
    margin-bottom: 2rem;
}

.second-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.second-container-left {
    text-align: left;
    width: 50%;
    color: #020E26;
}

.second-container-left p {
    color: #2A2A2A;
    font-size: 13px;
    background-color: transparent;
    padding: 1rem 0;
    margin: 0;
    line-height: 1.6;
}

.second-container-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-container-right img {
    max-width: 100%;
    height: auto;
}

/* Features */
.features-section {
    background-image: url('../images/curve.png');
    background-color: #f6f5fa;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('path/to/your/wavy-top.png') no-repeat top center;
    background-size: cover;
}

.features-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.feature-card {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: left;
    z-index: 1;
}

.feature-card:nth-child(6) {
    transform: translateY(-20px);
}

.feature-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #020E26;
}

.feature-card p {
    font-size: 13px;
    color: #2A2A2A;
}

/* Record and earn */
.recordEarn-container {
    background-image: url('../images/curve.png');
    text-align: center;
    padding: 2rem;
    position: relative;
}

.record-inner {
    padding-top: 1%;
}

.record-inner p {
    font-size: 13px;
}

.recordEarn-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    z-index: 2;
}

/* Phases */
.phase-section {
    background-image: url('../images/curve.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    position: relative;
}

.phase-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.phase-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.phase-card {
    position: relative;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: left;
    backdrop-filter: blur(5px);
    z-index: 2;
}

.circle-number {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffcd00;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 3;
}

.phase-card h3 {
    margin-top: 100px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.phase-card p {
    font-size: 13px;
}

/* About us */
.aboutus-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.aboutus-container-left,
.aboutus-right {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    text-align: left;
}

.aboutus-container-left h2,
.aboutus-right h2 {
    color: #020E26;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.aboutus-container-left p,
.aboutus-right p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #2A2A2A;
}

.aboutus-right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Newsletter */
.newsletter-section {
    background-image: url('../images/curve.png');
    text-align: center;
    padding: 50px 0;
    color: #fff;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.newsletter-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.newsletter-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.newsletter-section input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    max-width: 80%;
}

.newsletter-section button {
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #2A2A2A;
    cursor: pointer;
}

/* Footer */
.footer-section {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section p {
    margin: 0;
    font-size: 13px;
}

.footer-section a {
    color: #FFA500;
    text-decoration: none;
}

@media (max-width: 768px) {
    header nav {
        display: none;
    }

    .main_container {
        flex-direction: column;
        align-items: center;
    }

    .left {
        margin-right: 0;
    }

    .features-container {
        flex-direction: column;
    }

    .recordEarn-content {
        flex-direction: column;
    }

    .phase-container {
        flex-direction: column;
    }

    .aboutus-container {
        flex-direction: column;
    }
}
